body {
  background: black;
}

.imagefloat {
  float: right;
  width: 142px;
  height: 142px;
}

canvas {
  display: block;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-family: "Courier New";
}

.bodytext {
  color: white;
  text-align: left;
  text-justify: inter-word;
  font-family: "Courier New";
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  color: white;
  font-family: "Courier New";
}

p {
  font-size: 1.15rem;
  font-weight: 400;
  color: white;
}

.date {
  font-style: italic;
  color: white;
}

.white-text a {
  color: white;
  font-size: 1.5rem;
}

.red-text {
  color: red;
  font-size: 1.5rem;
}
